* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.fondo {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/squirtlefondo.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
  border: 8px solid rgb(184, 180, 180);
  background-image:url('./../img/pokemon-virtual-fest-1633678522.jpeg');
}

.gameOver {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  height: 100vh;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noShow {
  display: none;
}

.Win {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  height: 100vh;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
