* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.fondo {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Pok_mon_minimalism_Squirtle_Bulbasaur_Charmander_simple_background_collage-182373.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.type{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

button {
    color: rgb(34, 26, 26);
    padding: 25px;
    border: 4px solid #131210;
    border-radius: 20px;
    margin: 15px 0px;
    width: 15%;
    background-color: #f3f1ec93;
  }
  
button:hover {
    color: #cf1212;
    border-color: #fff;
    cursor: pointer;
}